@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700;900&famille=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

a {
  text-decoration: none;
  color: black;
}

h1, h2 {
  font-family: "Shrikhand", cursif;
}

h2 {
  margin: 0 0 20px 22px;
}

/********************    LOADER     ********************/
.loader {
  display: flex;
  justify-content: center;
  align-items: center;
  position: fixed;
  background-color: #FFF;
  height: 100vh;
  inset: 0;
  z-index: 1;
  opacity: 0.9;
  animation: loader 200ms 3s forwards;
  transform-origin: top;
}

@keyframes loader {
  to {
    transform: scale(0);
  }
}
.loader__circle {
  border: 8px solid #99E2D0;
  border-top: 8px solid #9356DC;
  border-bottom: 8px solid #FF79DA;
  border-radius: 50%;
  width: 100px;
  height: 100px;
  animation: loaderspin 3s linear forwards;
}

/***************    ANIMATION LOADER     ***************/
@keyframes loaderspin {
  0% {
    transform: rotate(0deg);
    opacity: 1;
  }
  100% {
    transform: rotate(360deg);
    opacity: 0;
  }
}
/********************    HEADER     ********************/
header {
  padding-top: 20px;
}
header #logo {
  text-align: center;
}
header #logo img {
  max-width: 170px;
  margin-bottom: 10px;
}

.localisation {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #eaeaea;
  font-weight: bold;
  box-shadow: 0px 0px 5px grey;
}
.localisation i {
  margin-left: -30px;
  margin-right: 20px;
}

.introduction {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 40px 70px 40px;
}
.introduction__reservez {
  font-weight: bold;
  font-size: 25px;
  margin: 0;
}
.introduction__decouvrez {
  margin-top: 0;
  margin-bottom: 25px;
}
.introduction__btn--explorez {
  border-radius: 30px;
  color: #F6F6F6;
  padding: 14px 50px;
  font-size: 16px;
  box-shadow: 4px 4px 8px darkgrey;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
}
.introduction__btn--explorez:hover {
  opacity: 0.8;
  box-shadow: 16px 16px 16px darkgrey;
}

@media all and (max-width: 353px) {
  .introduction__btn--explorez {display: flex;}
}
/********************    FONCTIONNEMENT     ********************/
.Fonctionnement {
  margin: 40px 0 40px 0;
}

.fonctionnement {
  margin: 0;
  padding: 0;
}
.fonctionnement__item {
  display: flex;
  position: relative;
  padding: 24px;
  margin: 20px;
  border-radius: 20px;
  background-color: #f6f6f6;
  box-shadow: 4px 4px 8px darkgray;
}
.fonctionnement__item .fas {
  margin-left: 20px;
  margin-right: 20px;
}
.fonctionnement__item:hover {
  background-color: #f5edff;
}
.fonctionnement__item:hover .fas {
  color: #9356DC;
}
.fonctionnement__item__numero {
  width: 18px;
  height: 20px;
  color: #FFF;
  font-size: small;
  background-color: #9356DC;
  border-radius: 50%;
  padding: 4px 4px;
  margin-left: -30px;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .Fonctionnement h2 {
    text-align: center;
  }

  .fonctionnement {
    display: flex;
    justify-content: center;
  }
}
@media all and (min-width: 992px) {
  .Fonctionnement h2 {
    text-align: center;
  }

  .fonctionnement {
    display: flex;
    justify-content: space-around;
  }
}
/********************    RESTAURANTS     ********************/
.Restaurants {
  background-color: #f6f6f6;
  padding: 50px 0 50px 0;
}

.restaurants {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
}
.restaurants__card {
  border-radius: 20px;
  background-color: white;
  margin-bottom: 18px;
  position: relative;
  width: 290px;
}
.restaurants__card__image img {
  width: 100%;
  max-height: 175px;
  border-radius: 20px 20px 0 0;
  object-fit: cover;
}
.restaurants__card__image__nouveau {
  background-color: #99E2D0;
  color: #1b6150;
  padding: 8px;
  border-radius: 2px;
  position: absolute;
  top: 16px;
  right: 12px;
}
.restaurants__card__description {
  padding: 0px 10px;
  position: relative;
}
.restaurants__card__description h3 {
  margin-bottom: 6px;
}
.restaurants__card__description__nom-quartier p {
  margin-top: 0;
  padding-bottom: 18px;
}
.restaurants__card__description__nom-quartier i {
  font-size: 25px;
  position: absolute;
  right: 16px;
  top: 10px;
}
.restaurants__card__description__nom-quartier .fas {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.restaurants__card__description__nom-quartier .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}
@media all and (min-width: 580px) and (max-width: 767px) {
  .Restaurants h2 {
    text-align: center;
  }
  .restaurants__card {
    margin: 20px;
    width: 250px;
  }
}
@media all and (min-width: 768px) and (max-width: 991px) {
  .Restaurants h2 {
    text-align: center;
  }

  .restaurants__card {
    margin: 10px 30px 40px 30px;
  }
}
@media all and (min-width: 992px) {
  .Restaurants h2 {
    text-align: center;
  }

  .restaurants__card {
    margin: 10px 30px 40px 30px;
  }
}
/********************    FOOTER     ********************/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px 0px;
}
footer h3 {
  margin: 0 0 10px 20px;
  color: #e6e6e6;
  font-weight: normal;
}
footer h3:hover {
  color: #9356DC;
}
footer .footer__logo {
  font-family: "Shrikhand", cursif;
  font-weight: bold;
  font-size: x-large;
  padding-bottom: 15px;
}
footer .footer__logo:hover {
  color: #e6e6e6;
}
footer .fas {
  margin-left: 0;
  margin-right: 20px;
  font-size: small;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
  }
  footer h3 {
    margin-left: 0;
    font-size: 16px;
  }
  footer .fas {
    margin-right: 6px;
  }
}
@media all and (min-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
  }
  footer .footer__logo {
    font-size: 24px;
  }
  footer .fas {
    margin-right: 6px;
  }
}
/*****************   HEADER RESTAURANT    *****************/
#logo__restaurants {
  display: flex;
  justify-content: center;
  align-items: center;
}
#logo__restaurants img {
  max-width: 150px;
  margin-top: 20px;
  margin-right: 60px;
  margin-bottom: 20px;
}
#logo__restaurants .fa-arrow-left {
  font-size: 19px;
  color: black;
  padding-right: 60px;
}
#logo__restaurants .fa-arrow-left:hover {
  transform: scale(1.2);
}

@media all and (min-width: 768px) and (max-width: 991px) {
  #logo__restaurants img {
    max-width: 200px;
  }

  #logo__restaurants .fa-arrow-left {
    font-size: 30px;
  }
}
@media all and (min-width: 992px) {
  #logo__restaurants img {
    max-width: 200px;
  }

  #logo__restaurants .fa-arrow-left {
    font-size: 30px;
  }
}
/*****************   PHOTO RESTAURANT   *****************/
.restaurant-photo img {
  width: 100%;
  max-height: 250px;
  object-fit: cover;
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .restaurant-photo img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
}
@media all and (min-width: 992px) {
  .restaurant-photo img {
    width: 100%;
    max-height: 350px;
    object-fit: cover;
  }
}
/****************    CARTE RESTAURANT    ****************/
.presentation {
  background-color: #F6F6F6;
  padding: 36px 21px;
  margin-top: -27px;
  border-radius: 30px 30px 0 0;
  position: relative;
  text-align: left;
}
.presentation h1 {
  margin-top: 0;
  font-size: x-large;
}
.presentation .coeur i {
  position: absolute;
  top: 35px;
  right: 20px;
  font-size: 30px;
}
.presentation .coeur .fas {
  background-image: linear-gradient(#FF79DA, #9356DC);
  background-clip: text;
  -webkit-background-clip: text;
  color: transparent;
  opacity: 0;
  transition: all 0.5s ease-in-out;
}
.presentation .coeur .fas:hover {
  opacity: 1;
  transform: scale(1.1);
}

@media all and (min-width: 768px) and (max-width: 991px) {
  .presentation h1 {
    text-align: center;
  }
}
@media all and (min-width: 992px) {
  .presentation {
    padding-left: 40px;
  }
  .presentation h1 {
    text-align: center;
  }
  .presentation .coeur i {
    right: 50px;
  }
}
.menus h2 {
  font-weight: normal;
  font-size: 20px;
  margin: 40px 0 30px 10px;
  position: relative;
}
.menus h2::after {
  content: "";
  background-color: #99E2D0;
  width: 48px;
  height: 4px;
  position: absolute;
  top: 28px;
  left: 0px;
}

.menus__entrees__carte__item, .menus__plats__carte__item, .menus__desserts__carte__item {
  background-color: #FFF;
  box-shadow: 4px 4px 16px darkgray;
  padding: 0 0 0 16px;
  border-radius: 12px;
  margin: 16px 0;
  display: flex;
  justify-content: space-between;
  overflow: hidden;
  animation: appear 2s;
  animation-fill-mode: both;
}
.menus__entrees__carte__item:nth-child(1), .menus__plats__carte__item:nth-child(1), .menus__desserts__carte__item:nth-child(1) {
  animation-delay: 100ms;
}
.menus__entrees__carte__item:nth-child(2), .menus__plats__carte__item:nth-child(2), .menus__desserts__carte__item:nth-child(2) {
  animation-delay: 200ms;
}
.menus__entrees__carte__item:nth-child(3), .menus__plats__carte__item:nth-child(3), .menus__desserts__carte__item:nth-child(3) {
  animation-delay: 300ms;
}
.menus__entrees__carte__item:hover .confirmation, .menus__plats__carte__item:hover .confirmation, .menus__desserts__carte__item:hover .confirmation {
  margin-right: 0;
}
.menus__entrees__carte__item:hover .confirmation i, .menus__plats__carte__item:hover .confirmation i, .menus__desserts__carte__item:hover .confirmation i {
  animation: spin 0.5s ease-in-out;
}

.carte-detaillee {
  width: 350px;
  padding: 14px 0;
  border-radius: 12px;
  display: flex;
  justify-content: space-between;
  cursor: pointer;
}
.carte-detaillee__texte {
  width: 230px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-overflow: ellipsis;
}
.carte-detaillee:hover .carte-detaillee__texte {
  text-overflow: ellipsis;
  white-space: nowrap; 
}
.carte-detaillee__texte h3 {
  margin-top: 0;
  margin-bottom: 0;
  font-size: 16px;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte-detaillee:hover .carte-detaillee__texte h3 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
.carte-detaillee__texte h4 {
  margin-top: 10px;
  margin-bottom: 0;
  font-size: 16px;
  font-weight: normal;
  text-overflow: ellipsis;
  white-space: nowrap;
}
.carte-detaillee:hover .carte-detaillee__texte h4 {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden; 
}
@media screen and (min-width: 320px) and (max-width: 425px) {
  .carte-detaillee__texte h3 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
  .carte-detaillee__texte h4 {
    text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
  }
}
@media screen and (max-width: 405px) {
  .carte-detaillee:hover .carte-detaillee__texte {
  max-width: 130px;
  }
  .carte-detaillee__texte h4 {
    font-size: 14px;
  }
}
.carte-detaillee__prix {
  display: flex;
  justify-content: flex-end;
  align-items: flex-end;
  align-self: flex-end;
  font-weight: bold;
  margin-right: 20px;
  width: 25%;
}

.confirmation {
  background-color: #99E2D0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin-right: -74px;
  width: 74px;
  transition: margin-right 0.5s;
}
.confirmation .coche {
  width: 26px;
  height: 26px;
  border-radius: 50%;
  background: #FFF;
  color: #99E2D0;
  padding-left: 5px;
  padding-top: 5px;
}

@media all and (min-width: 480px) {
  .carte-detaillee, .carte-detaillee__texte {
    width: 100%;
  }
  .carte-detaillee__texte, .carte-detaillee__texte h4:hover {
    overflow: visible;
  }
}
/****************   BOUTON COMMANDER    ****************/
.commander {
  padding: 30px 0 80px 0;
  text-align: center;
  background-color: #F6F6F6;
}
.commander__btn--commander {
  border-radius: 30px;
  color: #F6F6F6;
  padding: 14px 50px;
  font-size: 16px;
  box-shadow: 4px 4px 8px darkgrey;
  background-image: linear-gradient(#FF79DA, #9356DC);
  transition: background-color 250ms;
}
.commander__btn--commander:hover {
  opacity: 0.8;
  box-shadow: 16px 16px 16px darkgrey;
}

@keyframes spin {
  0% {
    transform: rotate(-270deg);
  }
  100% {
    transform: rotate(0);
  }
}
@keyframes appear {
  0% {
    transform: translateY(50%);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

/*# sourceMappingURL=style.css.map */
