/********************    FOOTER     ********************/
footer {
  background-color: #353535;
  display: flex;
  flex-direction: column;
  padding: 25px 0px;

  & h3 {
    margin: 0 0 10px 20px;
    color: #e6e6e6; 
    font-weight: normal;

    &:hover {color:$purple;}
  }

  & .footer__logo {
    font-family: 'Shrikhand', cursif;
    font-weight: bold;
    font-size: x-large;
    padding-bottom: 15px;

    &:hover {color: #e6e6e6;}
  }

  & .fas {
  margin-left: 0;
  margin-right: 20px;
  font-size: small;
  }
}

@media all and (min-width: 768px) and (max-width: 991px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    padding-left: 10px;
    padding-right: 10px;
    
    & h3 {
      margin-left: 0;
      font-size: 16px;
    }

    & .fas {margin-right: 6px;}
  }
}

@media all and (min-width: 992px) {
  footer {
    flex-direction: row;
    justify-content: space-around;
    
    & .footer__logo {font-size: 24px;}

    & .fas {margin-right: 6px;}
  }
}
